@charset "UTF-8";
/* CSS Document */

body {
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	margin: 0; 
	padding: 0; 
	border: 0;
}
header {
	background-color: #715ab7;
}
p {
	line-height: 1.8;
}

/* Navigation */
.mobile {
	display: none;
}
.mobile {
	display: none;
}
.logo {
	display: inline-block;
	width: 100px;
	height: auto;
	padding: 1%;
}
.top-navigation {
	float: right;
	width: 50%;
	display: inline-block;
	padding: 4% 3%;
	text-align: right;
}
.top-navigation a {
	text-decoration: none;
	width: 20%;
	font-size: 1.3em;
	margin: 2%;
	color: white;
}
.menutekst {
	font-weight: 400;
}
.menu-projekter {
	font-weight: 700;
}
.top-navigation .menu-projekter {
	color: #ffbf00;
}

/* Style til homepage */
.text {
	text-align: center;
	width: 100%;
}
.projekt-billede {
	text-align: center;
	height: 600px;
}
.projekt-billede img {
	display: inline-block;
	width: 35%;
	height: auto;
}
#overskrift-beskrivelse {
	font-size: 1.3em;
}

/* Style til projekter */
.projekter {
	border: 0px solid black;
	margin: 7% 0;
	position: relative;
}
.projekter img {
	width: 100%;
	height: auto; 
	border: 0px solid black;
	display: inline-block;
}
.overlay {
	position: absolute;
	bottom: 0;
  	left: 0;
  	right: 0;
  	overflow: hidden;
  	width: 100%;
  	height: 100%;
  	transform: scale(0);
  	transition: .3s ease;
}
.projekter:hover .overlay {
	transform: scale(1);
	cursor: pointer;
}
.beskrivelse {
	text-align: center; 
	font-size: 1.2em;
}
/* Style til projekt undersider */
/* Style til sweetbot underside */
.sweet-img {
	border: 0px solid black;
	text-align: center;
	margin-top: 2%;
	margin-right: 4%;
	width: 98%;
}
.sweet-img img {
	border: 1px solid black;
	display: inline-block;
	width: 100%;
	height: auto;
}
.hotbot-billede {
	width: 80%;
	height: auto;
	display: inline-block;
}
.sweet-right img {
	padding-left: 20%;
	padding-top: 6%;
}
.sweet-billeder {
	width: 30%;
	height: auto;
	display: inline-block;
}
.new-sweet {
	width: 100%;
	height: auto; 
	display: inline-block;
}
/* Style til app underside */
.first-img {
	border: 0px solid black;
	text-align: center;
	margin-top: 2%;
	margin-right: 4%;
	width: 98%;
}
.first-img img {
	border: 0px solid black;
	display: inline-block;
	width: 100%;
	height: auto;
}
.app-billeder {
	width: 50%; 
	height: auto;
	display: inline-block;
	border: 0px solid black;
}
.container {
	margin-top: 4%;
	border: 0px solid black;
}
.app-right img {
	padding-left: 50%;
}
.medvind {
	margin-top: 6%;
	border: 0px solid black;
}

/* Style til udvikling */
.menu-udvikling {
	font-weight: 700;
}
.top-navigation .menu-udvikling {
	color: #ffbf00;
}

/* Style til om mig */
.menu-om {
	font-weight: 700;
}
.top-navigation .menu-om {
	color: #ffbf00;
}
.om-mig {
	border: 0px solid black; 
	margin: 0 3%;
}
.om-mig img {
	border: 0px solid black;
	display: inline-block;
	width: 100%;
}

/* Style til kontakt */
.menu-kontakt {
	font-weight: 700;
}
.top-navigation .menu-kontakt {
	color: #ffbf00;
}

/* Layout til mobil */
@media only screen and (max-width: 800px) {
	header {
		display: none;
	}
	
	.mobile {
		display: block;
	}
	.burger-menu {
  		display: inline-block;
  		cursor: pointer;
		float: right;
		padding-top: 40px;
		padding-right: 10px;
	}
	.top-nav #myLinks{
		display: none;
	}
	.top-nav a {
		text-decoration: none;
		font-size: 1.3em;
		margin: 3%;
		color: white;
		display: block;
	}
	.bar1, .bar2, .bar3 {
  		width: 35px;
  		height: 5px;
  		background-color: white;
  		margin: 6px 0;
  		transition: 0.4s;
	}
	
	/* Home page */
	.projekt-billede img {
		display: inline-block;
		width: 70%;
		height: auto;
	}
	
	/* Projekt side */
	.projekter:hover .overlay {
	display: none;
}
}
