@charset "UTF-8";
/* CSS Document */

body {
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	margin: 0; 
	padding: 0; 
	border: 0;
}
header {
	background-color: #715ab7;
}
p {
	line-height: 1.8;
}
li a {
	color: #ffbf00;
}
li:hover a {
	color: #715ab7;
}

/* Navigation */
.mobile {
	display: none;
}
.logo {
	display: inline-block;
	width: 100px;
	height: auto;
	padding: 1%;
}
.top-navigation {
	float: right;
	width: 50%;
	display: inline-block;
	padding: 55px 0%;
	text-align: right;
}
.top-navigation a {
	text-decoration: none;
	width: 20%;
	font-size: 1.3em;
	margin: 2%;
	color: white;
}
.top-navigation a:hover {
	 color: #ffbf00;
}
.menutekst {
	font-weight: 400;
}
.menu-projekter {
	font-weight: 700;
}
.top-navigation .menu-projekter {
	color: #ffbf00;
}

/* Style til homepage */
#projekt-img-mobil {
	display: none;
}
#projekt-img {
	text-align: center;
	position: relative;
	margin: 3%;
}
#projekt-img img {
	display: inline-block;
	width: 100%;
	height: auto;
}

/* Style til projekter */
.projekter {
	margin: 7% 0;
	position: relative;
}
.projekter img {
	width: 100%;
	height: auto;
	display: inline-block;
}
.overlay {
	position: absolute;
	bottom: 0;
  	left: 0;
  	right: 0;
  	overflow: hidden;
  	width: 100%;
  	height: 100%;
  	transform: scale(0);
  	transition: .3s ease;
}
.projekter:hover .overlay {
	transform: scale(1);
	cursor: pointer;
}
.beskrivelse {
	text-align: center; 
	font-size: 1.2em;
}

/* Style til projekt undersider */
.projekt-beskrivelse {
	color: #ffbf00;
	font-weight: 700;
}
.andre-projekter {
	font-weight: 600;
}

/* Style til portfolio underside */
.portfolio-img {
	text-align: center;
	margin-top: 2%;
	margin-right: 4%;
	width: 98%;
}
.portfolio-img img {
	display: inline-block;
	width: 100%;
	height: auto;
}
.portfolio-right img {
	display: inline-block;
	width: 100%;
	height: auto;
}
.portfolio-wire img {
	display: inline-block;
	width: 45%;
	height: auto;
}
.moodboard img {
	display: inline-block;
	width: 100%;
	height: auto;
}
/* Style til sweetbot underside */
.sweet-img {
	text-align: center;
	margin-top: 2%;
	margin-right: 4%;
	width: 98%;
}
.sweet-img img {
	border: 1px solid black;
	display: inline-block;
	width: 100%;
	height: auto;
}
.hotbot-billede {
	width: 80%;
	height: auto;
	display: inline-block;
}
.sweet-right img {
	padding-left: 20%;
	padding-top: 6%;
}
.sweet-billeder {
	width: 30%;
	height: auto;
	display: inline-block;
}
.new-sweet {
	width: 100%;
	height: auto; 
	display: inline-block;
}

/* Style til app underside */
.first-img {
	text-align: center;
	margin-top: 2%;
	margin-right: 4%;
	width: 98%;
}
.first-img img {
	display: inline-block;
	width: 100%;
	height: auto;
}
.app-billeder {
	width: 50%; 
	height: auto;
	display: inline-block;
}
.container {
	margin-top: 4%;
}
.app-right img {
	padding-left: 50%;
}
.medvind {
	margin-top: 6%;
}

/* Style til udvikling */
.menu-udvikling {
	font-weight: 700;
}
.top-navigation .menu-udvikling {
	color: #ffbf00;
}
.project-img img {
	display: inline-block;
	width: 100%; 
	height: auto;
}
.project-app-img img {
	display: inline-block;
	width: 50%; 
	height: auto;
}
.description {
	margin-top: 5%;
	border: 0px solid black;
}
/* Style til Kontakt/om */
.menu-om {
	font-weight: 700;
}
.top-navigation .menu-om {
	color: #ffbf00;
}
.om-mig {
	margin: 0 3%;
}
.me-img {
	text-align: center;
	padding-top: 33px;
}
.om-mig img {
	display: inline-block;
	width: 80%;
	height: auto;
}
.kontakt-div {
	text-align: center;
}
#kontakt-h1 {
	margin-top: 6%;
}
.contact-icons {
	display: inline-block;
	text-align: center;
	width: 100%;
	height: 300px;
}
.contact-icons img {
	width: 45%;
	height: auto;
}

/* Layout til mobil */
@media only screen and (max-width: 800px) {
	header {
		display: none;
	}
	.mobile {
		display: block;
	}
	.burger-menu {
  		display: inline-block;
  		cursor: pointer;
		float: right;
		padding-top: 40px;
		padding-right: 10px;
	}
	.top-nav #myLinks{
		display: none;
		padding: 1%;
	}
	.top-nav a {
		text-decoration: none;
		font-size: 1.3em;
		margin: 3%;
		color: white;
		display: block;
	}
	.bar1, .bar2, .bar3 {
  		width: 35px;
  		height: 5px;
  		background-color: white;
  		margin: 6px 0;
  		transition: 0.4s;
	}
	.top-nav .nav-tekst {
		color: #ffbf00;
		font-weight: 700;
	}
	
	/* Home page */
	#projekt-img {
		display: none;
	}
	#projekt-img-mobil {
		text-align: center;
		position: relative;
		margin: 3%;
		display: block;
	}
	#projekt-img-mobil img {
		display: inline-block;
		width: 100%;
		height: auto;
	}

	
	/* Projekt side */
	.overlay {
		transform: scale(1);
	}
	.hide-m {
		opacity: 0;
	}
	/* Sweetbot side */
	.sweet-right {
		text-align: center;
	}
	.sweet-right img {
		padding-left: 0%;
		padding-top: 0%;
	}
	.sweet-skitser {
		text-align: center;
	}
	.new-sweet {
		text-align: center;
	}
	
	/* App side */
	.app-right {
		text-align: center;
	}
	.app-right img {
		padding-left: 0%;
		paddint-top: 0%;
	}
	.app-skitser {
		text-align: center;
	}
	
	/* Kontakt/Om side */
	.om-mig img {
		display: inline-block;
		width: 75%;
		height: auto;
	}
	/* ændre størrelse på kontakt ikoner !!!!!! */
	.contact-icons {
		border: 0px solid black;
		height: auto;
	}
	.contact-icons img {
		width: 25%;
		height: auto;
	}
}
